<!doctype html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="min-h-full flex">
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    <div th:replace="fragments/sidebar :: mobile"></div>
    <div th:replace="fragments/sidebar :: desktop"></div>

    <div class="lg:pl-64 flex flex-col w-0 flex-1">
        <div class="sticky top-0 z-10 flex-shrink-0 flex h-16 bg-white border-b border-gray-200">
            <button type="button"
                    class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-900 lg:hidden">
                <span class="sr-only">Open sidebar</span>
                <!-- Heroicon name: outline/menu-alt-2 -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                     stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h7"/>
                </svg>
            </button>
            <div class="flex-1 px-4 flex justify-between">
                <div class="flex-1 flex">
                    <form class="w-full flex lg:ml-0" action="#" method="GET">
                        <label for="search-field" class="sr-only">Search</label>
                        <div class="relative w-full text-gray-400 focus-within:text-gray-600">
                            <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                                <!-- Heroicon name: solid/search -->
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                     fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <input id="search-field"
                                   class="block w-full h-full pl-8 pr-3 py-2 border-transparent text-gray-900 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-0 focus:border-transparent sm:text-sm"
                                   placeholder="Search" type="search" name="search">
                        </div>
                    </form>
                </div>
                <div class="ml-4 flex items-center lg:ml-6">
                    <button type="button"
                            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-rose-600 hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
                        Create
                    </button>
                </div>
            </div>
        </div>

        <main class="max-w-lg mx-auto pt-10 pb-12 px-4 lg:pb-16">
            <form th:action="@{/channels}" method="POST">
                <div class="space-y-6">
                    <div>
                        <h1 class="text-lg leading-6 font-medium text-gray-900">Channel Settings</h1>
                        <p class="mt-1 text-sm text-gray-500">Let’s get started by filling in the information below to create your new project.</p>
                    </div>

                    <div>
                        <label for="project-name" class="block text-sm font-medium text-gray-700"> Channel Name </label>
                        <div class="mt-1">
                            <input type="text" name="name" id="project-name" class="block w-full shadow-sm focus:ring-sky-500 focus:border-sky-500 sm:text-sm border-gray-300 rounded-md">
                        </div>
                    </div>

                    <div>
                        <label for="description" class="block text-sm font-medium text-gray-700"> Description </label>
                        <div class="mt-1">
                            <textarea id="description" name="description" rows="3" class="block w-full shadow-sm focus:ring-sky-500 focus:border-sky-500 sm:text-sm border border-gray-300 rounded-md"></textarea>
                        </div>
                    </div>

                    <div class="space-y-2">
                        <div class="space-y-1">
                            <label for="add-team-members" class="block text-sm font-medium text-gray-700"> Add Team Members </label>
                            <p id="add-team-members-helper" class="sr-only">Search by email address</p>
                            <div class="flex">
                                <div class="flex-grow">
                                    <input type="text" name="add-team-members" id="add-team-members" class="block w-full shadow-sm focus:ring-sky-500 focus:border-sky-500 sm:text-sm border-gray-300 rounded-md" placeholder="Email address" aria-describedby="add-team-members-helper">
                                </div>
                                <span class="ml-3">
              <button type="button" class="bg-white inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">
                <!-- Heroicon name: solid/plus -->
                <svg class="-ml-2 mr-1 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
                </svg>
                <span>Add</span>
              </button>
            </span>
                            </div>
                        </div>

                        <div class="border-b border-gray-200">
                            <ul role="list" class="divide-y divide-gray-200">
                                <li class="py-4 flex">
                                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1513910367299-bce8d8a0ebf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                    <div class="ml-3 flex flex-col">
                                        <span class="text-sm font-medium text-gray-900">Calvin Hawkins</span>
                                        <span class="text-sm text-gray-500">calvin.hawkins@example.com</span>
                                    </div>
                                </li>

                                <li class="py-4 flex">
                                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                    <div class="ml-3 flex flex-col">
                                        <span class="text-sm font-medium text-gray-900">Bessie Richards</span>
                                        <span class="text-sm text-gray-500">bessie.richards@example.com</span>
                                    </div>
                                </li>

                                <li class="py-4 flex">
                                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                                    <div class="ml-3 flex flex-col">
                                        <span class="text-sm font-medium text-gray-900">Floyd Black</span>
                                        <span class="text-sm text-gray-500">floyd.black@example.com</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <label for="date" class="block text-sm font-medium text-gray-700"> Date & heure </label>
                        <input type="text" name="date" id="date" class="mt-1 block w-full shadow-sm focus:ring-sky-500 focus:border-sky-500 sm:text-sm border-gray-300 rounded-md" placeholder="dd/mm/yyyy hh:mm">
                    </div>

                    <div>
                        <label for="duration" class="block text-sm font-medium text-gray-700"> Durée </label>
                        <input type="text" name="duration" id="duration" class="mt-1 block w-full shadow-sm focus:ring-sky-500 focus:border-sky-500 sm:text-sm border-gray-300 rounded-md">
                    </div>

                    <div class="flex justify-end">
                        <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Cancel</button>
                        <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-sky-500 hover:bg-sky-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Create this project</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
</body>
</html>